.note-dynamic {
    width: 280px;
    padding: 20px;
    position: relative;
    box-shadow: inset 0px 0px 5px 0px;
    border-radius: 10px;
    margin: 15px auto;
}

.note-dynamic .video-note {
    padding: 20px 0px;
}

.note-dynamic .note-btns {
    position: absolute;
    right: 17%;
    bottom: 2%;
}

.note-dynamic .note-btns button {
    background-color: unset;
    border: none;
    margin: 5px;
}

.note-dynamic .note-btns button:hover {
    transform: scale(1.1);
}

.note-dynamic button img {
    width: 20px;
}

.note {
    margin-bottom: 30px;
}

.note h2 {
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (min-width: 650px) {
    .note-dynamic {
        width: 250px;
        display: inline-block;
        margin: 10px 0px;
    }

    .note-dynamic .note-btns {
        right: 2%;
        bottom: 2%;
    }

    .note-dynamic .note-btns button {
        margin: 2px;
    }

    .note-dynamic button img {
        width: 20px;
    }

    .note h2 {
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 890px) {

    .note-dynamic {
        width: 250px;
    }

    .note-dynamic .note-btns {
        right: 2%;
        bottom: 2%;
    }

    .note-dynamic .note-btns button {
        margin: 3px;
    }

    .note {
        margin-bottom: 30px;
    }

}


@media screen and (min-width: 1050px) {

    .note-dynamic {
        width: 300px;
    }


    .note-dynamic .note-btns button {
        margin: 5px;
    }

    .note h2 {
        margin-bottom: 10px;
    }
}