.keep-app {
    width: 400px;
    margin: auto;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(57, 57, 71, 1) 0%, rgba(34, 45, 54, 1) 0%, rgba(49, 83, 125, 1) 0%, rgba(66, 83, 128, 1) 0%, rgba(72, 117, 148, 1) 100%);
}

.btn-new-note {
    text-align: center;
    display: block;
    width: 200px;
    margin: 10px auto;
    font-size: 1.4rem;
    border: none;
    background: unset;
}

.btn-new-note:hover {
    color: rgb(40, 40, 247);
}

.notes-list,
.pinned-notes {
    padding: 20px;
    width: 380px;
    margin: auto;
}

@media screen and (min-width: 650px) {
    .keep-app {
        width: 620px;
    }

    .notes-list,
    .pinned-notes {
        width: 575px;
        column-count: 2;
        column-gap: 30px;
    }

}


@media screen and (min-width: 890px) {

    .keep-app {
        width: 870px;
    }

    .notes-list,
    .pinned-notes {
        width: 850px;
        column-count: 3;
        column-gap: 30px;
    }
}


@media screen and (min-width: 1050px) {

    .keep-app {
        width: 1020px;
    }

    .notes-list,
    .pinned-notes {
        width: 1000px;
        column-gap: 30px;
    }
}