.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lightcyan;
}

.app-header .main-nav * {
    margin-inline-end: 10px;
}